<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiyat Karşılaştırma</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Optional: Add custom CSS -->
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #f8f9fa;
        }

        h2 {
            color: #007bff;
        }

        .product-card {
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 20px;
            margin: 20px 0;
            background-color: #fff;
            display: flex;
            flex-direction: column;
        }

        .card-img-container {
            margin-bottom: 10px;
            flex: 1; /* Take up remaining height within the card */
        }

        .product-image {
            width:  200px; /* Cover the entire width of the container */
            height: 300px; /* Cover the entire height of the container */
            object-fit: cover; /* Ensure the image covers the container without distortion */
            border-radius: 8px;
        }

        .card-body {
            flex: 1; /* Take up remaining height within the card */
        }

        .update-button {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container">
        <h1 class="text-center m-4">Fiyat Karşılaştırma</h1>

        <div class="row">
            {% for product in products %}
            <div class="col-md-3">
                <div class="product-card">
                    <div class="card-img-container">
                            {% set image_list = product.images[1:-1].split(', ') %}
                                <div id="productImageCarousel{{ product.id }}" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        {% for image_url in image_list %}
                                            <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
                                                <img src="{{ image_url.strip(" '") }}" alt="Product Image" class="d-block w-100 product-image">
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <a class="carousel-control-prev" href="#productImageCarousel{{ product.id }}" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#productImageCarousel{{ product.id }}" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <p><strong>Ürün Adı:</strong> {{ product.title }}</p>
                            <p><strong>Fiyatı:</strong> {{ product.price }}</p>
                            <p><strong>Şirket:</strong> {% if product.product_company == 'trendyol' %}
                                <!-- Trendyol logo -->
                                <img style="width:100px; margin-left:20px;" src="static/images/trendyol.png" class="img-fluid" alt="Trendyol">
                            {% elif product.product_company == 'amazon' %}
                                <!-- Amazon logo -->
                                <img  style="width:100px; margin-left:20px;" src="static/images/amazon.png" class="img-fluid" alt="Amazon">
                            {% elif product.product_company == 'hepsiburada' %}
                                <!-- Hepsiburada logo -->
                                <img  style="width:100px; margin-left:20px;" src="static/images/hepsiburada.png" class="img-fluid" alt="Hepsiburada">
                            {% elif product.product_company == 'defacto' %}
                                <!-- Defacto logo -->
                                <img  style="width:100px; margin-left:20px;" src="static/images/defacto.png" class="img-fluid" alt="Defacto">
                            {% elif product.product_company == 'koton' %}
                                <!-- Morhipo logo -->
                                <img  style="width:100px; margin-left:20px;" src="static/images/koton.png" class="img-fluid" alt="Koton">
                            {% elif product.product_company == 'boyner' %}
                                <!-- Boyner logo -->
                                <img  style="width:100px; margin-left:20px;" src="static/images/boyner.png" class="img-fluid" alt="Boyner">
                            {% elif product.product_company == 'teknosa' %}
                                <!-- Teknosa logo -->
                                <img  style="width:100px; margin-left:20px;" src="static/images/teknosa.png" class="img-fluid" alt="Teknosa">
                            {% elif product.product_company == 'mavi' %}
                                <!-- Mavi logo -->
                                <img  style="width:100px; margin-left:20px;" src="static/images/mavi.png" class="img-fluid" alt="Mavi">
                            {% elif product.product_company == 'vatan' %}
                                <!-- Vatan logo -->
                                <img  style="width:100px; margin-left:20px;" src="static/images/vatan.png" class="img-fluid" alt="Vatan">
                            {% elif product.product_company == 'mediamarkt' %}
                                <!-- Mediamarkt logo -->
                                <img  style="width:100px; margin-left:20px;" src="static/images/mediamarkt.png" class="img-fluid" alt="Mediamarkt">
                            
                            
                            {% else %}
                                <!-- Default logo or other handling -->
                                <img  style="width:100px; margin-left:20px;"src="static/images/default.png"  class="img-fluid" alt="Default">
                        {% endif %}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Optional: Add Bootstrap JS (Bootstrap 5) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Your custom JavaScript code here -->
</body>
</html>
