<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ürün Karşılaştırma</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Optional: Add custom CSS -->
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #f8f9fa;
        }


        /* Style for product images */
        .product-image {
            max-width: 100px;
            max-height: 100px;
            border-radius: 5px;
        }

        /* Style for the search form */
        .search-form {
            margin-bottom: 20px;
        }

        /* Style for the table */
        .table-responsive {
            margin-top: 20px;
        }

        /* Style for the update button */
        .update-button {
            margin-top: 20px;
        }

        /* Style for the action buttons */
        .action-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .table-responsive {
            overflow-x: auto;
        }
        .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
            background-color: #007bff;
            border-color: #007bff;
        }
        /* Add a loading spinner */
        .loading-spinner {
            display: none;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.9);
            z-index: 1000;
        }
        

        /* Toast notification styles */
        .toast {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #28a745;
            color: #fff;
            border-radius: 10px;
            padding: 15px;
            display: none;
            z-index: 1000;
        }
        
    </style>
</head>

<body>
    {% include 'navbar.html' %}
    <div class=" container-fluid col-md-10 col-sm-10 col-lg-10">
        <h1 class="text-center">Ürün Karşılaştırma</h1>

        <!-- Add search form with Bootstrap styling -->
        <form action="{{ url_for('search_products') }}" method="post" class="search-form">
            <div class="input-group">
                <input type="text" id="search" name="search" class="form-control" placeholder="Ürün Ara">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit">Ara</button>
                </div>
            </div>
        </form>

        <!-- Add a responsive table with Bootstrap styling -->
        <div class="container-fluid table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr class="d-flex">
                        <th class="col-md-2">Ürün Adı</th>
                        <th class="col-md-1">Fiyat</th>
                        <th class="col-md-1">Şirket</th>
                        <th class="col-md-2">Resimler</th>
                        <th class="col-md-2">Oluşturulma Tarihi</th>
                        <th class="col-md-2">Güncelleme Tarihi</th>
                        <th class="col-md-2">Aksiyonlar</th> <!-- Add a new column for action buttons -->
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr class="d-flex">
                        <td class="col-md-2">{{ product.title }}</td>
                        <td class="col-md-1">{{ product.price }}</td>
                        <td class="col-md-1">
                            {% if product.product_company == 'trendyol' %}
                                <!-- Trendyol logo -->
                                <img src="static/images/trendyol.png" class="img-fluid" alt="Trendyol">
                            {% elif product.product_company == 'amazon' %}
                                <!-- Amazon logo -->
                                <img src="static/images/amazon.png" class="img-fluid" alt="Amazon">
                            {% elif product.product_company == 'hepsiburada' %}
                                <!-- Hepsiburada logo -->
                                <img src="static/images/hepsiburada.png" class="img-fluid" alt="Hepsiburada">
                            {% elif product.product_company == 'defacto' %}
                                <!-- Defacto logo -->
                                <img src="static/images/defacto.png" class="img-fluid" alt="Defacto">
                            {% elif product.product_company == 'lcwaikiki' %}
                                <!-- LC Waikiki logo -->
                                <img src="static/images/lcwaikiki.png" class="img-fluid" alt="LC Waikiki">
                            {% elif product.product_company == 'koton' %}
                                <!-- Koton logo -->
                                <img src="static/images/koton.png" class="img-fluid" alt="Koton">
                            {% elif product.product_company == 'boyner' %}
                                <!-- Boyner logo -->
                                <img src="static/images/boyner.png" class="img-fluid" alt="Boyner">
                            {% elif product.product_company == 'mavi' %}
                                <!-- Mavi logo -->
                                <img src="static/images/mavi.png" class="img-fluid" alt="Mavi">
                            {% elif product.product_company == 'teknosa' %}
                                <!-- Teknosa logo -->
                                <img src="static/images/teknosa.png" class="img-fluid" alt="Teknosa">
                            {% elif product.product_company == 'vatan' %}
                                <!-- Vatan logo -->
                                <img src="static/images/vatan.png" class="img-fluid" alt="Vatan">
                            {% elif product.product_company == 'mediamarkt' %}
                                <!-- MediaMarkt logo -->
                                <img src="static/images/mediamarkt.png" class="img-fluid" alt="MediaMarkt">
                            {% else %}
                                <!-- Default logo or other handling -->
                                <img src="static/images/default.png"  class="img-fluid" alt="Default">
                            
                        {% endif %}
                        </td>
                        <td class="col-md-2">
                            <a href="{{ product.url }}" target="_blank">
                                {% set image_list = product.images[1:-1].split(', ') %}
                                {% if image_list %}
                                    <img src="{{ image_list[0].strip(" '") }}" alt="Product Image" style="max-width: 200px; max-height: 80px;" class="product-image">
                                {% endif %}

                            </a>
                        </td>
                        <td class="col-md-2">{{ product.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td class="col-md-2">{{ product.updated_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td class="col-md-2 action-buttons">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input compare-checkbox" id="checkbox{{ product.id }}" value="{{ product.id }}">
                                <label class="custom-control-label" for="checkbox{{ product.id }}"></label>
                            </div>
                            <!-- Delete button -->
                            <!-- Inside the table loop -->
                            <form id="deleteForm{{ product.id }}" method="post" class="d-inline">
                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal{{ product.id }}" data-toggle="tooltip" data-placement="top" title="Ürünü Sil">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>

                            <!-- Delete Modal -->
                            <div class="modal" id="deleteModal{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel">Onaylıyor musunuz?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Bu ürünü silmek istediğinizden emin misiniz?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                            <button type="button" class="btn btn-danger" onclick="deleteProduct('{{ url_for('delete_product', id=product.id) }}', '{{ product.id }}')">Sil</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Update prices button -->
                            <form id="productForm" action="{{ url_for('update_product_prices', id=product.id) }}" method="post" class="d-inline">
                                <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Fiyatı Güncelle">
                                    <i class="fas fa-sync-alt"></i>
                                </button>
                            </form>

                                <!-- Loading spinner -->
                                <div class="loading-spinner" id="loadingSpinner">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="sr-only">Fiyat Güncelleniyor...</span>
                                    </div>
                                </div>

                                <!-- Toast notification -->
                                <div class="toast" id="toastMessage" role="alert" aria-live="assertive" aria-atomic="true">
                                    <div class="toast-body">
                                        Ürün fiyatı başarıyla güncellendi!
                                    </div>
                                </div>

                            <!-- Product Detail form -->
                            <form action="{{ url_for('product_detail', id=product.id) }}" method="get" class="d-inline">
                                <button type="submit" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Ürün Bilgisi">
                                    <i class="fas fa-info-circle"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    <!-- Optional: Add Bootstrap JS (you need to include Bootstrap in your project) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        
        function deleteProduct(url, productId) {
            // Close the modal
            $('#deleteModal' + productId).modal('hide');
    
            // Submit the delete form
            $('#deleteForm' + productId).attr('action', url).submit();
        }

        
    </script>

    <script>
        // JavaScript code for showing loading spinner and toast message
        document.getElementById('productForm').addEventListener('submit', function () {
            // Show loading spinner
            document.getElementById('loadingSpinner').style.display = 'flex';
            // Simulate a delay (replace with actual AJAX request)
            setTimeout(function () {
                // Hide loading spinner
                document.getElementById('loadingSpinner').style.display = 'none';
                // Show toast message
                document.getElementById('toastMessage').style.display = 'block';
                // Hide toast message after 3 seconds
                setTimeout(function () {
                    document.getElementById('toastMessage').style.display = 'none';
                }, 3000);
            }, 2000);  // Replace with the actual processing time
        });
    </script>
    

    <script>
            function compareSelected() {
                var selectedProducts = [];
                var checkboxes = document.getElementsByClassName('compare-checkbox');
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].checked) {
                        selectedProducts.push(checkboxes[i].value);
                    }
                }
                if (selectedProducts.length < 2) {
                    alert('Please select at least 2 products to compare.');
                } else {
                    window.location.href = '/compare?ids=' + selectedProducts.join(',');
                }
            }
        function updateCompareLinkVisibility() {
            var selectedCheckboxes = document.querySelectorAll('.compare-checkbox:checked');
            var compareLink = document.getElementById('compareLink');
    
            if (selectedCheckboxes.length >= 2) {
                compareLink.style.display = 'block';
            } else {
                compareLink.style.display = 'none';
            }
        }
    
        document.addEventListener('change', function(event) {
            if (event.target.classList.contains('compare-checkbox')) {
                updateCompareLinkVisibility();
            }
        });
    </script>
    <!-- Your custom JavaScript code here -->
</body>

</html>
